asgiref==0.11.2
autobahn==0.13.0
channels==0.11.0
daphne==0.10.1
dj-database-url==0.4.1
Django==1.9.5
django-extensions==1.6.1
django-storages==1.4.1
gunicorn==19.4.5
psycopg2==2.6.1
six==1.10.0
Twisted==16.0.0
txaio==2.2.2
whitenoise==3.0
zope.interface==4.1.3
